package components

templ Footer() {
    <footer class="mt-8 px-4 py-16 md:p-8 lg:p-10 text-center border-y-[1px] border-gray-500 mx-auto w-full">
        <div>
            <span class="text-sm text-gray-500 sm:text-center p-4">
                © 2025 Kristin Gerber. All rights reserved.
            </span>
        </div>
    </footer>
}