@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

[x-cloak] {
  display: none !important;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-courgette: "Courgette", sans-serif;
}